In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /root/miniconda3/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /root/miniconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the '/root/miniconda3/bin/python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from tqdm import tqdm
tqdm.pandas()
%matplotlib inline

In [4]:
%%time

xl1 = pd.read_excel("./data/01-06.2020 (1).xlsx",header=[1])
xl1

CPU times: user 5min 50s, sys: 2.21 s, total: 5min 52s
Wall time: 5min 52s

,cdPn,cgPn,hrId,name,type,ierId,level,point,state,action,...,injuredNumber,responseStatus,actionTimeIsoStr,assignTimeIsoStr,acceptOperatorFio,acceptOperatorStr,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,[NULL],[NULL],янв21_СлучНабор_070,Случайный набор номера ...,Случайный набор номера ...,[NULL],Обычный,[NULL] ...,Карточка закрыта,[NULL],...,0,200,[NULL],[NULL],[NULL],[NULL],NaN,NaN,NaN,NaN
1,[NULL],[NULL],янв14_Молчание_488,Вызов с молчанием ...,Вызов с молчанием ...,[NULL],Обычный,"[{""lat"": 48.7458, ""lon"": 44.816}] ...",Карточка закрыта,[NULL],...,0,200,[NULL],[NULL],[NULL],[NULL],NaN,NaN,NaN,NaN
2,[NULL],[NULL],янв15_Молчание_418,Вызов с молчанием ...,Вызов с молчанием ...,[NULL],Обычный,"[{""lat"": 48.4808, ""lon"": 45.046}] ...",Карточка закрыта,[NULL],...,0,200,[NULL],[NULL],[NULL],[NULL],NaN,NaN,NaN,NaN
3,[NULL],[NULL],янв16_Молчание_138,Вызов с молчанием ...,Вызов с молчанием ...,[NULL],Обычный,"[{""lat"": 48.7757, ""lon"": 44.8021}] ...",Карточка закрыта,[NULL],...,0,200,[NULL],[NULL],[NULL],[NULL],NaN,NaN,NaN,NaN
4,[NULL],[NULL],янв17_Молчание_145,Вызов с молчанием ...,Вызов с молчанием ...,[NULL],Обычный,"[{""lat"": 48.513, ""lon"": 44.5205}] ...",Карточка закрыта,[NULL],...,0,200,[NULL],[NULL],[NULL],[NULL],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448372,[NULL],[NULL],июн18_Справка_005,Получение справок ...,Получение справок ...,[NULL],Обычный,"[{""lat"": 48.8056, ""lon"": 44.7381}] ...",Карточка закрыта,[NULL],...,0,200,[NULL],[NULL],[NULL],[NULL],NaN,NaN,NaN,NaN
448373,[NULL],[NULL],июн18_Оказани_037,Оказание медицинской помощи ...,Оказание медицинской помощи ...,[NULL],Обычный,"[{""lat"": 48.811, ""lon"": 44.7448}] ...",Карточка закрыта,[NULL],...,0,200,[NULL],2020-06-18T02:52:37.000,[NULL],[NULL],NaN,NaN,NaN,NaN
448374,[NULL],[NULL],июн18_Правонар_042,Правонарушение ...,Правонарушение ...,[NULL],Обычный,"[{""lat"": 48.4788, ""lon"": 44.7661}] ...",Карточка закрыта,[NULL],...,0,200,[NULL],2020-06-18T02:56:53.000,[NULL],[NULL],NaN,NaN,NaN,NaN
448375,[NULL],[NULL],июн18_Труп_005,Труп ...,Труп ...,[NULL],Обычный,"[{""lat"": 48.7795, ""lon"": 44.7646}] ...",Карточка закрыта,[NULL],...,0,200,[NULL],2020-06-18T03:07:32.000,[NULL],[NULL],NaN,NaN,NaN,NaN
448376,[NULL],[NULL],июн18_ИсчезГр_001,Исчезновение граждан ...,Исчезновение граждан ...,[NULL],Обычный,"[{""lat"": 48.6321, ""lon"": 44.4407}] ...",Карточка закрыта,[NULL],...,0,200,[NULL],2020-06-18T01:57:57.000,[NULL],[NULL],NaN,NaN,NaN,NaN

In [5]:
%%time

xl2 = pd.read_excel("./data/01-06.2021 (1).xlsx",header=[1])
xl2

CPU times: user 6min 52s, sys: 1.98 s, total: 6min 54s
Wall time: 6min 54s

,cdPn,hrId,name,type,ierId,level,point,state,action,cardId,...,clarification,injuredNumber,responseStatus,actionTimeIsoStr,assignTimeIsoStr,acceptOperatorFio,acceptOperatorStr,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,100090,янв04_Справка_294,Получение справок ...,Получение справок ...,07284594-f4e4-4d18-abd7-aca6013a2cb0,Обычный,"[{""lat"": 48.7445, ""lon"": 44.5188}] ...",Карточка закрыта,[NULL] ...,acaa9603-48c4-40f0-8705-aca6013aac67,...,[NULL] ...,0,200,[NULL] ...,[NULL],Костюхова Евгения Васильевна,Operator90,NaN,NaN,NaN
1,[NULL],янв03_Справка_011,Получение справок ...,Получение справок ...,[NULL],Обычный,"[{""lat"": 48.789, ""lon"": 44.7763}] ...",Карточка закрыта,[NULL] ...,8556cb55-a7b0-450b-addf-aca5002a1619,...,[NULL] ...,0,200,[NULL] ...,[NULL],[NULL],[NULL],NaN,NaN,NaN
2,100029,янв03_НепрПоним_011,Неправильное понимание экстренной ситуации ...,Неправильное понимание экстренной ситуации ...,e29f659b-3c2d-4aef-97d5-aca50028214d,Обычный,"[{""lat"": 48.7758, ""lon"": 44.7994}] ...",Карточка закрыта,[NULL] ...,d3c7d78f-adb1-4ce3-b3e7-aca5002862ed,...,[NULL] ...,0,200,[NULL] ...,[NULL],Яковлева Надежда Васильевна,Operator29,NaN,NaN,NaN
3,100037,янв07_ПсихНеуравн_033,Психически неуравновешенные люди ...,Психически неуравновешенные люди ...,e2de6b00-4913-46bf-ae8d-aca9003ed22a,Обычный,"[{""lat"": 50.0712, ""lon"": 45.3843}] ...",Карточка закрыта,[NULL] ...,2aaa9a25-5cc6-481b-9c8d-aca9003eecc5,...,[NULL] ...,0,200,[NULL] ...,[NULL],Алейникова Валерия Сергеевна,Operator37,NaN,NaN,NaN
4,[NULL],фев15_не_задано_013,не задано ...,не задано ...,[NULL],Обычный,[NULL] ...,Карточка закрыта,[NULL] ...,15b35090-6581-4e35-8959-acd0009bb9db,...,[NULL] ...,0,200,[NULL] ...,[NULL],[NULL],[NULL],NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502349,100082,июн29_ПрерывСвяз_111,Прерывание вызова звонящим сразу после подключ...,Прерывание вызова звонящим сразу после подключ...,671d50ef-7aff-4333-a40a-ad5600a4c276,Обычный,"[{""lat"": 48.4843, ""lon"": 44.5292}] ...",Карточка закрыта,[NULL] ...,1809e19f-299e-4a34-b9ea-ad5600a4dae8,...,[NULL] ...,0,200,[NULL] ...,[NULL],Гейдонас Анна Владимировна,Operator82,NaN,NaN,NaN
502350,100076,июн30_СлучНабор_119,Случайный набор номера ...,Случайный набор номера ...,e07c9932-eef2-46a3-9552-ad57008df902,Обычный,"[{""lat"": 50.0733638803504, ""lon"": 45.393362384...",Карточка закрыта,[NULL] ...,bf24b0ee-f304-4085-ace1-ad57008e0a88,...,[NULL] ...,0,200,[NULL] ...,[NULL],Бакулина Олеся Сергеевна,Operator76,NaN,NaN,NaN
502351,100068,июн29_Оказани_118,Оказание медицинской помощи ...,Оказание медицинской помощи ...,fc56ec34-c300-435a-b335-ad5600859db0,Обычный,"[{""lat"": 50.0474, ""lon"": 43.2281}] ...",Все реагирования завершены,"Уведомление, Выезд, Прибытие, Решение, Уведомл...",0a60a565-2017-43f3-997d-ad5600864271,...,Частный дом ...,0,200,"2021-06-29T08:09:44.000+03:00, 2021-06-29T08:0...",2021-06-29T08:08:59.000,Комарова Валентина Владимировна,Operator68,NaN,NaN,NaN
502352,100065,июн29_Оказани_068,Оказание медицинской помощи ...,Оказание медицинской помощи ...,cdb11175-4e3a-469a-b20f-ad56005a6140,Обычный,"[{""lat"": 50.1327, ""lon"": 45.2247}] ...",Карточка закрыта,"Уведомление, Выезд, Прибытие, Решение ...",54074de5-e8df-4581-9229-ad56005b0080,...,[NULL] ...,0,200,"2021-06-29T05:33:49.000+03:00, 2021-06-29T05:3...",2021-06-29T05:31:22.000,Филина Марина Павловна,Operator65,NaN,NaN,NaN
502353,100020,июн30_ПрерывСвяз_076,Прерывание вызова звонящим сразу после подключ...,Прерывание вызова звонящим сразу после подключ...,4031fb69-b6b2-486d-82c0-ad57009e8aa8,Обычный,"[{""lat"": 48.7517, ""lon"": 44.4969}] ...",Карточка закрыта,[NULL] ...,95926e59-a53b-4023-b791-ad57009e9aa9,...,[NULL] ...,0,200,[NULL] ...,[NULL],Сизоненко Ольга Олеговна,Operator20,NaN,NaN,NaN

In [ ]:
%%time

xl3 = pd.read_excel("./data/01-09.2019 (1).xlsx")
xl3

In [ ]:
%%time

xl4 = pd.read_excel("./data/07-12.2020 (1).xlsx",header=[1])
xl4

In [ ]:
%%time

xl5 = pd.read_excel("./data/07-12.2021 (1).xlsx",header=[1])
xl5

In [ ]:
%%time

xl6 = pd.read_excel("./data/10-12.2019 (1).xlsx")
xl6

In [ ]:
xl1.columns=list(map(str.strip, xl1.columns))
xl2.columns=list(map(str.strip, xl2.columns))
xl3.columns=list(map(str.strip, xl3.columns))
xl4.columns=list(map(str.strip, xl4.columns))
xl5.columns=list(map(str.strip, xl5.columns))
xl6.columns=list(map(str.strip, xl6.columns))

In [ ]:
xl1=xl1.drop_duplicates()
xl2=xl2.drop_duplicates()
xl3=xl3.drop_duplicates()
xl4=xl4.drop_duplicates()
xl5=xl5.drop_duplicates()
xl6=xl6.drop_duplicates()

In [ ]:
colss=['hrId', 'name', 'type', 'ierId', 'level', 'point',
       'state', 'action', 'cardId', 'isNear', 'region', 'ierType', 'cityCode',
       'regionId', 'cityFiasId', 'isBlocking',
       'isMalicius', 'lostNumber', 'membership', 'streetCode', 'timeIsoStr',
       'isChemFlood', 'dispatchesId', 'districtCode', 'streetFiasId',
       'clarification', 'injuredNumber', 'responseStatus', 'actionTimeIsoStr',
       'assignTimeIsoStr',  'acceptOperatorStr']

In [ ]:
xl=pd.concat([xl1[colss],xl2[colss],xl3[colss],xl4[colss],xl5[colss],xl6[colss]],axis=0)
xl

In [ ]:
%%time

col=list(xl.select_dtypes(include=['object']).columns)
xl[col] = xl[col].apply(lambda x: x.str.strip())

In [ ]:
xl[['lat','lon']]=xl['point'].str.strip('[]{} ').str.replace('"lat":','').str.replace('"lon":','').str.replace(' ','').str.split(',',n=2, expand=True)

In [ ]:
xl=xl['type','state','action','isMalicius','membership','timeIsoStr','clarification','lat','lon']

In [ ]:
xl.to_pickle('my_data.pkl')

In [ ]:
1